.env
.vscode
.DS_Store
/node_modules
/storage/*.key
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/docker/data/mysql/*
/docker/logs/mysql/*
/docker/logs/apache2/*

*Zone.Identifier
.idea/
